In [1]:
# Importación de librerías pandas y os
import pandas as pd
import os

In [2]:
# Cambio de directorio y carga de archivo
os.chdir(r'C:\Users\einzw\Downloads')
df= pd.read_csv('fifa_eda.csv')

In [3]:
# Visualización de una muestra de 20 líneas
df[0:21]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0
20,189511,Sergio Busquets,29,Spain,89,89,FC Barcelona,51500.0,315.0,Right,4.0,3.0,CDM,2008,2023-01-01,6.166667,168.0,105600.0

In [5]:
# Tipos de datos del DataFrame
df.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                        float64
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
dtype: object

In [3]:
# En una columna nueva, se almacenarán los primeros cuatro caracteres (sólo el año) de la columna Contract Valid Until, para incluir en la estadística
df['Contract Valid Until Year']=df['Contract Valid Until'].str[:4]

In [4]:
df['Contract Valid Until Year'][0:3]

0    2021
1    2022
2    2022
Name: Contract Valid Until Year, dtype: object

In [5]:
# Conversión de nueva columna a formato numérico
df['Contract Valid Until Year']=pd.to_numeric(df['Contract Valid Until Year'])

In [7]:
df['Contract Valid Until Year'].dtype

dtype('float64')

In [7]:
df.head(1)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Contract Valid Until Year
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,2021.0

In [8]:
# Media, mínimo y máximo de jugadores en total, redondeado a dos decimales con round(2)
df[['Overall', 'Potential', 'Value', 'Wage', 'International Reputation', 'Skill Moves', 'Joined', 'Contract Valid Until Year', 'Weight', 'Height', 'Release Clause']].agg(['mean', 'min', 'max']).round(2)

,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Contract Valid Until Year,Weight,Height,Release Clause
mean,66.24,71.31,2444.53,9.73,1.11,2.36,2016.42,2020.15,165.98,5.95,4585.06
min,46.00,48.00,10.00,0.00,1.00,1.00,1991.00,2018.00,110.00,5.08,13.00
max,94.00,95.00,118500.00,565.00,5.00,5.00,2018.00,2026.00,243.00,6.75,228100.00

In [8]:
# Media, mínimo y máximo de los jugadores en total por país (groupby)
df.groupby('Nationality')[['Overall', 'Potential', 'Value', 'Wage', 'International Reputation', 'Skill Moves', 'Joined', 'Contract Valid Until Year', 'Weight', 'Height', 'Release Clause']].agg(['mean', 'min', 'max']).round(2)

            Overall         Potential            Value                   Wage  \
               mean min max      mean min max     mean    min      max   mean
Nationality
Afghanistan   61.00  59  63     67.75  64  71   342.50  220.0    450.0   1.25
Albania       65.92  52  81     71.70  62  86  1920.25   80.0  20000.0   7.10
Algeria       70.63  58  85     72.98  62  85  4670.92  160.0  40500.0  18.08
Andorra       62.00  62  62     64.00  64  64   290.00  290.0    290.0   1.00
Angola        67.60  60  78     71.53  64  82  2018.33  325.0  10000.0   7.67
...             ...  ..  ..       ...  ..  ..      ...    ...      ...    ...
Uzbekistan    67.50  60  75     67.50  60  75  3100.00  200.0   6000.0   9.00
Venezuela     67.27  53  81     73.15  55  84  2498.33   80.0  22500.0   6.19
Wales         64.14  47  88     69.97  56  88  1769.26   30.0  60000.0  12.09
Zambia        65.22  56  73     73.78  66  83  1129.44  190.0   3500.0   3.44
Zimbabwe      69.77  64  78     72.46  66  83  2780.77  475.0  12000.0   6.85

             ... Contract Valid Until Year  Weight               Height        \
             ...                       max    mean    min    max   mean   min
Nationality  ...
Afghanistan  ...                    2021.0  149.25  143.0  152.0   5.73  5.67
Albania      ...                    2022.0  164.42  137.0  196.0   5.95  5.58
Algeria      ...                    2023.0  167.25  132.0  207.0   5.95  5.50
Andorra      ...                    2020.0  174.00  174.0  174.0   6.00  6.00
Angola       ...                    2022.0  166.53  143.0  192.0   5.88  5.58
...          ...                       ...     ...    ...    ...    ...   ...
Uzbekistan   ...                    2022.0  164.00  163.0  165.0   5.96  5.92
Venezuela    ...                    2023.0  164.67  121.0  216.0   5.89  5.25
Wales        ...                    2023.0  166.40  132.0  207.0   5.96  5.50
Zambia       ...                    2022.0  162.00  141.0  201.0   5.91  5.58
Zimbabwe     ...                    2022.0  164.00  132.0  185.0   5.85  5.50

                  Release Clause
              max           mean    min       max
Nationality
Afghanistan  5.83         617.25  374.0     878.0
Albania      6.42        3694.03  116.0   35500.0
Algeria      6.42        8490.02  259.0   78000.0
Andorra      6.00         384.00  384.0     384.0
Angola       6.17        3623.74  463.0   17800.0
...           ...            ...    ...       ...
Uzbekistan   6.00        6725.00  250.0   13200.0
Venezuela    6.50        4203.21  108.0   35400.0
Wales        6.50        3714.37   53.0  123000.0
Zambia       6.25        2174.00  356.0    6600.0
Zimbabwe     6.17        5319.38  594.0   18900.0

[164 rows x 33 columns]

In [6]:
# Comprobamos si existen ID duplicados en el DataFrame
df['ID'].duplicated().any()

np.False_

In [7]:
# Visualizar el ID máximo, para asignar nuevos ID a los jugadores ficticios
df['ID'].max()

246620

In [8]:
# Copia de un nuevo DataFrame donde se almacenarán los nuevos jugadores
df_copia= df

In [178]:
type(df_copia)

pandas.core.frame.DataFrame

In [9]:
# Generación de dos jugadores ficticios con todos los campos del dataset
df_copia.loc[len(df_copia)]= ({'ID': 246621, 'Name': 'Luis', 'Age': 30, 'Nationality': 'Mexico', 'Overall': 82,'Potential': 84,'Club': 'Santos Laguna','Value': 21500,'Wage': 18,'Preferred Foot': 'Left','International Reputation': 1,'Skill Moves': 2,'Position': 'LM','Joined': 2012,'Contract Valid Until':'2020-01-01','Height': 5.75,'Weight': 150,'Release Clause': 170, 'Contract Valid Until Year': 2020})

In [10]:
df_copia.loc[len(df_copia)]= ({'ID': 246622, 'Name': 'Manuel', 'Age': 28, 'Nationality': 'Mexico', 'Overall': 80,'Potential': 80,'Club': 'Monarcas Morelia','Value': 90,'Wage': 1.0,'Preferred Foot': 'Right','International Reputation': 1,'Skill Moves': 2,'Position': 'LM','Joined': 2017,'Contract Valid Until':'2022-01-01','Height': 6.0,'Weight': 174,'Release Clause': 170, 'Contract Valid Until Year': 2022.0})

In [11]:
# Visualizamos los jugadores nuevos con tail()
df_copia.tail(2)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Contract Valid Until Year
18207,246621,Luis,30,Mexico,82,84,Santos Laguna,21500.0,18.0,Left,1.0,2.0,LM,2012,2020-01-01,5.75,150.0,170.0,2020.0
18208,246622,Manuel,28,Mexico,80,80,Monarcas Morelia,90.0,1.0,Right,1.0,2.0,LM,2017,2022-01-01,6.00,174.0,170.0,2022.0

In [74]:
len(df_copia)

18209

In [23]:
# Comparación de estadísticas del DataFrame original
df[['Overall', 'Potential', 'Value', 'Wage', 'International Reputation', 'Skill Moves', 'Joined', 'Contract Valid Until Year', 'Weight', 'Height', 'Release Clause']].agg(['mean', 'min', 'max']).round(2)

,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Contract Valid Until Year,Weight,Height,Release Clause
mean,66.24,71.31,2446.39,9.73,1.11,2.36,2016.42,2020.15,165.98,5.95,4584.09
min,46.00,48.00,10.00,0.00,1.00,1.00,1991.00,2018.00,110.00,5.08,13.00
max,94.00,95.00,118500.00,565.00,5.00,5.00,2018.00,2026.00,243.00,6.75,228100.00

In [182]:
# DataFrame con nuevos jugadores, las estadísticas no varían.
df_copia[['Overall', 'Potential', 'Value', 'Wage', 'International Reputation', 'Skill Moves', 'Joined', 'Contract Valid Until Year', 'Weight', 'Height', 'Release Clause']].agg(['mean', 'min', 'max']).round(2)

,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Contract Valid Until Year,Weight,Height,Release Clause
mean,66.25,71.31,2448.25,9.73,1.11,2.36,2016.42,2020.15,165.98,5.95,4583.12
min,46.00,48.00,10.00,0.00,1.00,1.00,1991.00,2018.00,110.00,5.08,13.00
max,94.00,95.00,118500.00,565.00,5.00,5.00,2018.00,2026.00,243.00,6.75,228100.00

In [12]:
# Importación de librerías pytz y CountryInfo para generar columnas de Zona horaria y Capital de país
import pytz
from countryinfo import CountryInfo

In [ ]:
# Se crea un filtro de países sin duplicados
paises_df=df_copia['Nationality'].drop_duplicates(keep= 'first')

In [12]:
print(paises_df)

0          Argentina
1           Portugal
2             Brazil
3              Spain
4            Belgium
            ...
14383          Malta
14847         Belize
14894    South Sudan
16849      Indonesia
16977       Botswana
Name: Nationality, Length: 164, dtype: object

In [ ]:
# Convertimos el filtro en dataFrame, para poder aplicar la función que buscará los códigos ISO
import pandas as pd
paises_unicos= pd.DataFrame(paises_df)

In [15]:
paises_unicos

       Nationality
0        Argentina
1         Portugal
2           Brazil
3            Spain
4          Belgium
...            ...
14383        Malta
14847       Belize
14894  South Sudan
16849    Indonesia
16977     Botswana

[164 rows x 1 columns]

In [ ]:
# La librería pytz requiere códigos ISO de cada país para generar la zona horaria
# Se aplica una función que agrega al dataFrame una columna de códigos ISO, con CountryInfo.
def iso(pais):
    try:
        return CountryInfo(pais).info().get('ISO').get('alpha2')
    except:
        return 'No disponible'
    
paises_unicos['ISO']= paises_unicos['Nationality'].apply(iso)

In [17]:
paises_unicos

       Nationality ISO
0        Argentina  AR
1         Portugal  PT
2           Brazil  BR
3            Spain  ES
4          Belgium  BE
...            ...  ..
14383        Malta  MT
14847       Belize  BZ
14894  South Sudan  SS
16849    Indonesia  ID
16977     Botswana  BW

[164 rows x 2 columns]

In [ ]:
# Buscamos los países que no tienen ISO en CountryInfo
paises_unicos[['Nationality', 'ISO']].loc[paises_unicos['ISO']=='No disponible']

                Nationality            ISO
16                  England  No disponible
72       Bosnia Herzegovina  No disponible
125          Korea Republic  No disponible
181              Montenegro  No disponible
262    Central African Rep.  No disponible
1113          FYR Macedonia  No disponible
1208               China PR  No disponible
1233          Guinea Bissau  No disponible
1258                 Kosovo  No disponible
1534                 Gambia  No disponible
1835                  Congo  No disponible
2013       Northern Ireland  No disponible
2181                Curacao  No disponible
2395      Trinidad & Tobago  No disponible
3552    São Tomé & Príncipe  No disponible
4376              Korea DPR  No disponible
4694         St Kitts Nevis  No disponible
6604      Antigua & Barbuda  No disponible
9590              Palestine  No disponible
11032              St Lucia  No disponible
13651               Andorra  No disponible

In [ ]:
# Búsqueda de todos los países en CountryInfo
countries= CountryInfo().all()

In [ ]:
# Creación de una lista de sólo los nombres de países en CountryInfo
paises_countryinfo=[]
for country in countries:
    paises_countryinfo.append(country)

In [31]:
print(paises_countryinfo)

['afghanistan', 'albania', 'algeria', 'american samoa', 'angola', 'anguilla', 'antigua and barbuda', 'argentina', 'armenia', 'aruba', 'australia', 'austria', 'azerbaijan', 'the bahamas', 'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium', 'belize', 'benin', 'bermuda', 'bhutan', 'bolivia', 'bosnia and herzegovina', 'botswana', 'brazil', 'british indian ocean territory', 'brunei', 'bulgaria', 'burkina faso', 'burundi', 'cambodia', 'cameroon', 'canada', 'cape verde', 'cayman islands', 'central african republic', 'chad', 'chile', 'china', 'christmas island', 'cocos (keeling) islands', 'colombia', 'comoros', 'republic of the congo', 'democratic republic of the congo', 'cook islands', 'costa rica', 'ivory coast', 'croatia', 'cuba', 'cyprus', 'czech republic', 'denmark', 'djibouti', 'dominica', 'dominican republic', 'ecuador', 'egypt', 'el salvador', 'equatorial guinea', 'eritrea', 'estonia', 'ethiopia', 'falkland islands', 'faroe islands', 'fiji', 'finland', 'france', 'french guiana', 'french polynesia', 'french southern and antarctic lands', 'gabon', 'the gambia', 'georgia', 'germany', 'ghana', 'gibraltar', 'greece', 'greenland', 'grenada', 'guadeloupe', 'guam', 'guatemala', 'guernsey', 'guinea', 'guinea-bissau', 'guyana', 'haiti', 'heard island and mcdonald islands', 'honduras', 'hong kong', 'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq', 'ireland', 'israel', 'italy', 'jamaica', 'japan', 'jersey', 'jordan', 'kazakhstan', 'kenya', 'kiribati', 'north korea', 'south korea', 'kuwait', 'kyrgyzstan', 'laos', 'latvia', 'lebanon', 'lesotho', 'liberia', 'libya', 'liechtenstein', 'lithuania', 'luxembourg', 'macau', 'republic of macedonia', 'madagascar', 'malawi', 'malaysia', 'maldives', 'mali', 'malta', 'isle of man', 'marshall islands', 'martinique', 'mauritania', 'mauritius', 'mayotte', 'mexico', 'federated states of micronesia', 'moldova', 'monaco', 'mongolia', 'montserrat', 'morocco', 'mozambique', 'namibia', 'nauru', 'nepal', 'netherlands', 'new caledonia', 'new zealand', 'nicaragua', 'niger', 'nigeria', 'niue', 'norfolk island', 'northern mariana islands', 'norway', 'oman', 'pakistan', 'palau', 'panama', 'papua new guinea', 'paraguay', 'peru', 'philippines', 'pitcairn islands', 'poland', 'portugal', 'puerto rico', 'qatar', 'réunion', 'romania', 'russia', 'rwanda', 'saint helena', 'saint kitts and nevis', 'saint lucia', 'saint pierre and miquelon', 'saint vincent and the grenadines', 'samoa', 'san marino', 'são tomé and príncipe', 'saudi arabia', 'scotland', 'senegal', 'serbia', 'seychelles', 'sierra leone', 'singapore', 'slovakia', 'slovenia', 'solomon islands', 'somalia', 'south africa', 'south georgia', 'south sudan', 'spain', 'sri lanka', 'sudan', 'suriname', 'svalbard and jan mayen', 'swaziland', 'sweden', 'switzerland', 'syria', 'taiwan', 'tajikistan', 'tanzania', 'thailand', 'east timor', 'togo', 'tokelau', 'tonga', 'trinidad and tobago', 'tunisia', 'turkey', 'turkmenistan', 'tuvalu', 'uganda', 'ukraine', 'united arab emirates', 'united kingdom', 'united states', 'uruguay', 'uzbekistan', 'vanuatu', 'venezuela', 'vietnam', 'wales', 'wallis and futuna', 'western sahara', 'yemen', 'zambia', 'zimbabwe']

In [21]:
# Importamos la librería re y se crea una expresión regular para buscar algunas coincidencias en la lista de países de CountryInfo
import re
coincidencia= [i for i in paises_countryinfo if re.search(r'republic', i)]
print(coincidencia)

['central african republic', 'republic of the congo', 'democratic republic of the congo', 'czech republic', 'dominican republic', 'republic of macedonia']

In [ ]:
# Con estas coincidencias, rellenamos un diccionario con nombres de países actualizados para agregar a los dataFrames.
paises_actualizados= {'England' : 'United Kingdom', 
                    'Bosnia Herzegovina': 'Bosnia and Herzegovina', 
                    'Korea Republic': 'South Korea', 
                    'Montenegro': 'Montenegro', 
                    'Central African Rep.': 'Central African Republic',  
                    'FYR Macedonia': 'Republic of Macedonia', 
                    'China PR': 'China', 
                    'Guinea Bissau': 'Guinea-Bissau', 
                    'Kosovo': 'Kosovo', 
                    'Gambia': 'The Gambia', 
                    'Congo': 'Republic of the Congo', 
                    'Northern Ireland': 'Ireland',
                    'Curacao': 'Curacao',  
                    'Trinidad & Tobago': 'Trinidad and Tobago', 
                    'São Tomé & Príncipe': 'são tomé and príncipe', 
                    'Korea DPR': 'North Korea', 
                    'St Kitts Nevis': 'Saint Kitts and Nevis', 
                    'Antigua & Barbuda': 'Antigua and Barbuda', 
                    'Palestine': 'Palestine', 
                    'St Lucia': 'Saint Lucia', 
                    'Andorra': 'Andorra' 
                      }

In [23]:
# Se reemplazan los nombres de los países no encontrados con los valores del dict de países actualizados
paises_unicos= paises_unicos['Nationality'].replace(paises_actualizados)

In [ ]:
# También se reemplazan los nombres en la copia del dataframe ofiginal, para que puedan ser localizados
df_actualizado= df_copia.replace(paises_actualizados)

In [77]:
paises_unicos

0          Argentina
1           Portugal
2             Brazil
3              Spain
4            Belgium
            ...
14383          Malta
14847         Belize
14894    South Sudan
16849      Indonesia
16977       Botswana
Name: Nationality, Length: 164, dtype: object

In [34]:
df_actualizado.head(5)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Contract Valid Until Year
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,2021.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,2022.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,2022.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,2020.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,2023.0

In [ ]:
# Se da nuevamente formato de DataFrame a los países que se han actualizado
paises= pd.DataFrame(paises_unicos)

In [83]:
len(paises)

164

In [43]:
# Comprobamos que la longitud coincide con el dataframe sin duplicados original
len(paises_unicos)

164

In [ ]:
# Se aplica nuevamente la función para buscar los nombres de países que se han actualizado
def iso(pais):
    try:
        return CountryInfo(pais).info().get('ISO').get('alpha2')
    except:
        return 'No disponible'

paises['ISO']= paises['Nationality'].apply(iso)

In [ ]:
# Buscamos nuevamente los ISO que no existen en CountryInfo
paises[['Nationality', 'ISO']].loc[paises['ISO']=='No disponible']

      Nationality            ISO
181    Montenegro  No disponible
1258       Kosovo  No disponible
2181      Curacao  No disponible
9590    Palestine  No disponible
13651     Andorra  No disponible

In [ ]:
# Lista de países que no han sido encontrados en CountryInfo, si comparamos con el dataFrame de países no duplicados:
paises_no_encontrados=[]
for pais_unico in paises_unicos:
    if pais_unico.lower() not in paises_countryinfo:
        paises_no_encontrados.append(pais_unico)

In [ ]:
print(paises_no_encontrados)

['Montenegro', 'DR Congo', 'Republic of Ireland', 'Kosovo', 'Curacao', 'Palestine', 'Andorra']

In [ ]:
# Datos de DR Congo y Republic of Ireland sí se encuentran en CountryInfo, por lo tanto se actualiza el resto de los países
country=CountryInfo('dr congo').info().get('capital')
print(country)

Kinshasa

In [45]:
# Función lambda que añade zona horaria, con la librería pytz
import pytz
paises['Zona horaria']= paises['ISO'].apply(lambda x: pytz.country_timezones.get(x))

In [50]:
# Función lambda que añade la capital del país de nacionalidad, con CountryInfo
paises['Capital']= paises['ISO'].apply(lambda x: CountryInfo(x).capital())

In [47]:
# El código ISO 'RS' es reconocido por Pytz, pero no por CountryInfo
paises[['Nationality', 'ISO']].loc[paises['ISO']=='RS']

   Nationality ISO
78      Serbia  RS

In [ ]:
# Se modifica el registro de Serbia y de los países con 'No disponible' a campo en blanco, para omitir errores en la función lambda
paises.loc[[78, 181, 1258, 2181, 9590, 13651], 'ISO']=''

In [51]:
# Dataframe con los cambios aplicados
paises.loc[[78, 181, 1258, 2181, 9590, 13651]]

      Nationality ISO       Zona horaria Capital
78         Serbia      [Europe/Belgrade]  Asmara
181    Montenegro                   None  Asmara
1258       Kosovo                   None  Asmara
2181      Curacao                   None  Asmara
9590    Palestine                   None  Asmara
13651     Andorra                   None  Asmara

In [52]:
# Diccionario para rellenar la Zona horaria y capital de los países faltantes 
paises_faltantes= [
    {'Nationality': 'Serbia', 'ISO': '', 'Zona horaria': '[Europe/Belgrade]', 'Capital': 'Belgrade'},
    {'Nationality': 'Montenegro', 'ISO': '', 'Zona horaria': 'Central European Time', 'Capital': 'Podgorica'},
    {'Nationality': 'Kosovo', 'ISO': '', 'Zona horaria': 'Central European Time', 'Capital': 'Pristina'},
    {'Nationality': 'Curacao', 'ISO': '', 'Zona horaria': 'Atlantic Standard Time', 'Capital': 'Willemstad'},
    {'Nationality': 'Palestine', 'ISO': '', 'Zona horaria': 'Eastern European Time', 'Capital': 'Jerusalem'},
    {'Nationality': 'Andorra', 'ISO': '', 'Zona horaria': 'Central European Time', 'Capital': 'Andorra La Vella'}
    ]

In [53]:
# El dict se convierte a dataframe
paises_faltantesdf=pd.DataFrame(paises_faltantes)

In [ ]:
# Concatenamos ambos dataFrames para combinar los datos
paises_concat= pd.concat([paises, paises_faltantesdf], ignore_index=True)

In [55]:
paises_concat

,Nationality,ISO,Zona horaria,Capital
0,Argentina,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Buenos Aires
1,Portugal,PT,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Lisbon
2,Brazil,BR,"[America/Noronha, America/Belem, America/Forta...",Brasília
3,Spain,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Madrid
4,Belgium,BE,[Europe/Brussels],Brussels
...,...,...,...,...
165,Montenegro,,Central European Time,Podgorica
166,Kosovo,,Central European Time,Pristina
167,Curacao,,Atlantic Standard Time,Willemstad
168,Palestine,,Eastern European Time,Jerusalem
169,Andorra,,Central European Time,Andorra La Vella

In [ ]:
# Visualizamos y eliminamos los registros duplicados, que corresponden a los espacios en blanco pendientes de los seis países actualizados
paises_concat[paises_concat[['Nationality']].duplicated(keep='last')]

    Nationality ISO       Zona horaria Capital
24       Serbia      [Europe/Belgrade]  Asmara
33   Montenegro                   None  Asmara
82       Kosovo                   None  Asmara
99      Curacao                   None  Asmara
146   Palestine                   None  Asmara
158     Andorra                   None  Asmara

In [57]:
paises_completos=paises_concat.drop([24, 33, 82, 99, 146, 158], axis=0)

In [ ]:
# Ahora la longitud coincide con la cantidad de países sin duplicados
len(paises_completos)

164

In [ ]:
# Buscamos algún registro que contenga como capital Asmara, o ISO en blanco, que indica un error en el mapeo de los datos
paises_completos[['Nationality', 'ISO', 'Capital']].loc[paises_completos['Capital']=='Asmara']

    Nationality ISO Capital
38     Scotland      Asmara
112     Eritrea  ER  Asmara

In [ ]:
# Se modifica la capital de Escocia
paises_completos.loc[38, 'Capital']= 'Edinburgh'

In [61]:
paises_completos[['Nationality', 'ISO', 'Capital']].loc[paises_completos['Nationality']=='Scotland']

   Nationality ISO    Capital
38    Scotland      Edinburgh

In [ ]:
# Merge del dataFrame de los jugadores con los países listos por medio de la columna 'Nationality',
# se elimina la columna duplicada que pudiera surgir con drop_duplicates(subset)
df_completo=df_actualizado.merge(paises_completos[['Nationality', 'Zona horaria', 'Capital']].drop_duplicates(subset= 'Nationality') , how= 'inner', on='Nationality')

In [ ]:
# Dataframe con zona horaria y capital de los países
df_completo

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Contract Valid Until Year,Zona horaria,Capital
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,2021.0,"[America/Argentina/Buenos_Aires, America/Argen...",Buenos Aires
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,2022.0,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Lisbon
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,2022.0,"[America/Noronha, America/Belem, America/Forta...",Brasília
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,2020.0,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Madrid
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,2023.0,[Europe/Brussels],Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,United Kingdom,47,67,Cambridge United,60.0,1.0,Right,...,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,2021.0,[Europe/London],London
18205,246268,D. Walker-Rice,17,United Kingdom,47,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,2019.0,[Europe/London],London
18206,246269,G. Nugent,16,United Kingdom,46,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,2019.0,[Europe/London],London
18207,246621,Luis,30,Mexico,82,84,Santos Laguna,21500.0,18.0,Left,...,2.0,LM,2012,2020-01-01,5.750000,150.0,170.0,2020.0,"[America/Mexico_City, America/Cancun, America/...",Mexico City
18208,246622,Manuel,28,Mexico,80,80,Monarcas Morelia,90.0,1.0,Right,...,2.0,LM,2017,2022-01-01,6.000000,174.0,170.0,2022.0,"[America/Mexico_City, America/Cancun, America/...",Mexico City

In [69]:
# Función lambda que califica en base al potencial, si los jugadores son candidatos al Premio Balón de Oro
df_completo['Premio']= df_completo['Potential'].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')

In [70]:
# Resultado 
df_completo

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Contract Valid Until Year,Zona horaria,Capital,Premio
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,RF,2004,2021-01-01,5.583333,159.0,226500.0,2021.0,"[America/Argentina/Buenos_Aires, America/Argen...",Buenos Aires,Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,ST,2018,2022-01-01,6.166667,183.0,127100.0,2022.0,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Lisbon,Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,LW,2017,2022-01-01,5.750000,150.0,228100.0,2022.0,"[America/Noronha, America/Belem, America/Forta...",Brasília,Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,GK,2011,2020-01-01,6.333333,168.0,138600.0,2020.0,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Madrid,Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,RCM,2015,2023-01-01,5.916667,154.0,196400.0,2023.0,[Europe/Brussels],Brussels,Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,United Kingdom,47,67,Cambridge United,60.0,1.0,Right,...,ST,2017,2021-01-01,5.666667,148.0,165.0,2021.0,[Europe/London],London,Next Year
18205,246268,D. Walker-Rice,17,United Kingdom,47,66,Tranmere Rovers,60.0,1.0,Right,...,RW,2018,2019-01-01,5.833333,154.0,143.0,2019.0,[Europe/London],London,Next Year
18206,246269,G. Nugent,16,United Kingdom,46,66,Tranmere Rovers,60.0,1.0,Right,...,CM,2018,2019-01-01,5.833333,176.0,165.0,2019.0,[Europe/London],London,Next Year
18207,246621,Luis,30,Mexico,82,84,Santos Laguna,21500.0,18.0,Left,...,LM,2012,2020-01-01,5.750000,150.0,170.0,2020.0,"[America/Mexico_City, America/Cancun, America/...",Mexico City,Next Year
18208,246622,Manuel,28,Mexico,80,80,Monarcas Morelia,90.0,1.0,Right,...,LM,2017,2022-01-01,6.000000,174.0,170.0,2022.0,"[America/Mexico_City, America/Cancun, America/...",Mexico City,Next Year

In [ ]:
# Comprobamos logitud con copia del dataframe original, al que se agregaron los jugadores ficticios.
len(df_copia)

18209